.container{
    text-align: center;
    margin-top: 150px;
    
}
table{
    margin: auto;
}
input{
    font-size: 40px;
    width: auto;
    border: 5px solid purple ;
    background-color: black;
    color: beige;
    height: 70px;
    border-radius: 20px;

}
button{
    font-size: 30px;
    width: 120px;
    height: 70px;
    color: rgba(11, 10, 11, 0.867);
    font-weight: 200;
    font-size: 25px;
    border-radius: 20px;
    
}
.calculator{
    display: inline-block;
}
body{
    background-image: linear-gradient(to bottom right,rgb(229, 26, 90), rgb(113, 50, 124));
}
.op{
    background-color: rgb(156, 24, 154);
}
h1{
    font-size: 40px;
}
button:hover{
    background-color: rgb(255, 0, 123);
}